@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: #cccccc;
}

.grid {
    display: grid;
    grid-template-columns: 200px;
    column-gap: 100px;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
}

header,
footer {
    background-color: #2a81e2;
}

header {
    padding: 0.5rem;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    margin: 1em auto;
    text-align: center;
}

section {
    margin: 0 auto;
}

.small {
    width: 200px;
    height: 200px;
    padding: 0;
    background-color: white;
    margin-bottom: 1em;
    border: 4px solid #ffffff;
    border-radius: 1%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    object-fit: cover;
    object-position: center;
}

.hide {
    display: none;
}

nav a {
    padding: 10px;
    color: white;
    display: block;
    text-align: center;
}

nav a:hover {
    text-decoration: none;
    color: black;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
}

footer {
    text-align: center;
    color: white;
    padding: 0.5em;
    font-size: 12px;
}

figure img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 5px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    display: block;
    margin: 0 auto;
}

/* Modal */

dialog {
    width: 100vw;
    height: 100vh;
    max-width: none;
    max-height: none;
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, .75);
}

/* Mobile image size */
dialog img {
    width: 90vw;
    max-width: 500px;
    display: block;
    margin: 18vh auto;
}

/* Mobile close button */
.close-viewer {
    position: fixed;
    top: 18vh;

    /* 50vw + half of image width */
    left: min(95vw, calc(50vw + 250px));

    transform: translate(0, -50%);
    font-size: 1.5em;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
}

.close-viewer:focus {
    outline: none;
}

/* Tablet */

@media screen and (min-width: 700px) {
    .grid {
        grid-template-columns: 200px 200px;
        row-gap: 1em;
    }

    dialog img {
        width: 80vw;
        max-width: 650px;
    }

    .close-viewer {
        /* 50vw + half of tablet image width */
        left: min(90vw, calc(50vw + 325px));
    }
}

/* Desktop */

@media screen and (min-width: 1000px) {
    .grid {
        grid-template-columns: 200px 200px 200px;
        column-gap: 80px;
    }

    .menu-btn {
        display: none;
    }

    nav.hide {
        display: block;
    }

    nav {
        text-align: center;
    }

    nav a {
        display: inline-block;
    }

    dialog img {
        width: 70vw;
        max-width: 700px;
    }

    .close-viewer {
        /* 50vw + half of desktop image width */
        left: min(85vw, calc(50vw + 343px));
    }
}