*{
    font-family: "Crimson Pro", serif;
    font-weight: 440;
    margin: 0;
}



h1{
    font-size: 48px;
    text-align: center;
    font-family: "Crimson Pro", serif;
    font-weight: 450;
    margin-bottom: .4em;
;
}
h2{
    font-size: 23px;
    text-align: center;
    color: #4F9ACF;
    margin: 0 auto;
    padding-bottom: 6px;
}
hr{
    margin-top: 0;
    margin-bottom: 36px;
}

#content{
    max-width: 40%;
    margin: 0 auto;
    padding: 50px;
    margin-top: 1.5em;
    border: black solid 0.5px;
}

#mission{
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

li{
    list-style: number;
    margin-bottom: 0.75em;
    line-height: 1.5em;
}

img{
    display: block;
    margin: 40px auto;
    width: 20%;
}